In [52]:
import pandas as pd
import set_lib_paths
pd.options.display.max_rows = 15
pd.options.display.max_columns = 40
case_study_codes = ['303', '004']
merged_file = 'F:/Projects/Ferring/data/pre_modelling/merged_data/MERGED_COUNT_DATE.csv'
df = pd.read_csv(merged_file)

In [53]:
sum(df['STUDY_CODE'] == 4),sum(df['STUDY_CODE'] == 303)

(436, 680)

In [54]:
df[[f for f in df.keys() if 'MHTERM'  not in f]]

,Unnamed: 0,AGE,BMI,BS_12,BS_18,BS_24,BS_6,BS_BASELINE,COUNTRY_CAN,COUNTRY_USA,DD_DELIVERY_METHOD,DD_DELIVERY_TIME,EX_END_TIME,EX_START_TIME,HEIGHT,RACE_AMERICAN_INDIAN_OR_ALASKA_NATIVE,RACE_ASIAN,RACE_BLACK_OR_AFRICAN_AMERICAN,RACE_HISPANIC,RACE_MULTIPLE,RACE_NATIVE_HAWAIIAN_OR_OTHER_PACIFIC_ISLANDER,RACE_OTHER,RACE_WHITE,STUDY_CODE,SUBJID,USUBJID,Unnamed: 0.1,Unnamed: 0_x,Unnamed: 0_x.1,Unnamed: 0_x.2,Unnamed: 0_y,Unnamed: 0_y.1,Unnamed: 0_y.2,WEIGHT
0,0,27.0,31.0,7.0,7.0,9.0,4.0,3.0,NaN,1,CESAREAN SECTION,2010-12-02T17:35,2010-12-01T16:45,2010-11-30T16:36,197.0,0.0,0,0,1.0,0.0,0.0,0,0,303,NaN,303-01-15001,0.0,0.0,0,NaN,0.0,0,NaN,67.0
1,1,30.0,44.0,6.0,6.0,6.0,4.0,3.0,NaN,1,CESAREAN SECTION,2011-01-12T07:58,2011-01-11T21:37,2011-01-10T21:37,307.0,0.0,0,0,0.0,0.0,0.0,0,1,303,NaN,303-01-15002,1.0,1.0,1,NaN,4.0,1,NaN,70.0
2,2,34.0,29.0,NaN,NaN,NaN,NaN,4.0,NaN,1,CESAREAN SECTION,2011-03-06T13:48,2011-03-06T12:03,2011-03-06T10:46,176.0,0.0,0,1,0.0,0.0,0.0,0,0,303,NaN,303-01-15006,2.0,2.0,2,NaN,8.0,2,NaN,65.0
3,3,25.0,45.0,12.0,NaN,NaN,9.0,4.0,NaN,1,SPONTANEOUS VAGINAL,2011-04-12T10:47,2011-04-12T01:51,2011-04-11T17:25,253.0,0.0,0,0,1.0,0.0,0.0,0,0,303,NaN,303-01-15007,3.0,3.0,3,NaN,12.0,3,NaN,63.0
4,4,28.0,28.0,6.0,7.0,6.0,4.0,3.0,NaN,1,CESAREAN SECTION,2011-04-22T00:26,2011-04-20T23:30,2011-04-19T23:30,188.0,0.0,0,0,0.0,0.0,1.0,0,0,303,NaN,303-01-15008,NaN,4.0,4,NaN,16.0,4,NaN,69.0
5,5,22.0,46.0,11.0,NaN,NaN,9.0,3.0,NaN,1,SPONTANEOUS VAGINAL,2011-07-15T20:07,2011-07-15T12:30,2011-07-15T00:27,274.0,0.0,0,0,1.0,0.0,0.0,0,0,303,NaN,303-01-15011,4.0,5.0,5,NaN,20.0,5,NaN,65.0
6,6,30.0,31.0,7.0,7.0,8.0,7.0,3.0,NaN,1,CESAREAN SECTION,2011-10-12T13:21,2011-10-11T22:17,2011-10-10T23:25,160.0,0.0,1,0,0.0,0.0,0.0,0,0,303,NaN,303-01-15014,5.0,6.0,6,NaN,24.0,6,NaN,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1109,1109,20.0,NaN,NaN,NaN,NaN,5.0,3.0,0.0,1,SPONTANEOUS VAGINAL,2007-04-20T01:31:00,2007-04-19T12:09:00,2007-04-18T22:40:00,157.0,NaN,0,0,NaN,NaN,NaN,1,0,4,1602480.0,004-60-1602480,NaN,429.0,431,390.0,1713.0,431,429.0,105.0
1110,1110,27.0,NaN,NaN,NaN,NaN,4.0,2.0,0.0,1,CESAREAN SECTION,2007-04-20T22:25:00,2007-04-20T05:38:00,2007-04-19T14:50:00,173.0,NaN,0,0,NaN,NaN,NaN,0,1,4,1602482.0,004-60-1602482,NaN,430.0,432,391.0,1717.0,432,430.0,66.0
1111,1111,44.0,NaN,NaN,NaN,NaN,7.0,2.0,0.0,1,INSTRUMENTED VAGINAL,2007-05-03T19:21:00,2007-05-03T12:44:00,2007-05-03T00:22:00,165.0,NaN,0,0,NaN,NaN,NaN,0,1,4,1602485.0,004-60-1602485,NaN,431.0,433,392.0,1721.0,433,431.0,92.0
1112,1112,20.0,NaN,NaN,NaN,NaN,NaN,3.0,0.0,1,SPONTANEOUS VAGINAL,2007-05-16T10:11:00,2007-05-15T20:37:00,2007-05-14T20:26:00,160.0,NaN,0,0,NaN,NaN,NaN,0,1,4,1602489.0,004-60-1602489,NaN,432.0,434,NaN,1725.0,434,432.0,98.0
1113,1113,31.0,NaN,NaN,NaN,NaN,7.0,3.0,0.0,1,CESAREAN SECTION,2007-06-26T18:21:00,2007-06-26T04:31:00,2007-06-25T19:00:00,152.0,NaN,0,0,NaN,NaN,NaN,0,1,4,1642584.0,004-64-1642584,NaN,433.0,435,393.0,1729.0,435,433.0,100.0
1114,1114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,NaN,NaN,2007-01-12T08:48:00,2007-01-12T08:13:00,NaN,NaN,0,0,NaN,NaN,NaN,0,0,4,1060227.0,004-06-1060227,NaN,NaN,45,NaN,NaN,45,NaN,NaN
1115,1115,24.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1,NaN,NaN,NaN,2007-04-13,NaN,NaN,0,0,NaN,NaN,NaN,0,0,4,2321339.0,004-32-2321339,NaN,NaN,309,NaN,NaN,309,NaN,NaN

1116

In [51]:
df['BMI'].max()

54.0