In [232]:
import pandas as pd
import set_lib_paths
import numpy as np
import seaborn as sns
import copy
sns.set()
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
pd.options.display.max_rows = 15
pd.options.display.max_columns = 40
case_study_codes = ['303', '004']
merged_file = 'F:/Projects/Ferring/data/pre_modelling/merged_data/MERGED_COUNT_DATE.csv'
merged_file_final = 'F:/Projects/Ferring/data/pre_modelling/merged_data/PROCESSED_FLATFILE.csv'
df_final = pd.read_csv(merged_file_final)
df = pd.read_csv(merged_file)
#Remove patients that did not complete study...a2
df = df[df['COMPLETED'] & ~df['COMPLETED'].isnull()]
df['GESTATIONAL_AGE_WEEKS'] = df['GESTATIONAL_AGE_DAYS']/7
print (len(df['USUBJID']))

1111

In [135]:
print (len(df_final))

1111

In [22]:
df[df['USUBJID'] == '303-09-10921']['EX_START_TIME']

4    2010-11-23T17:02
5    2010-11-23T17:02
6    2010-11-23T17:02
7    2010-11-23T17:02
Name: EX_START_TIME, dtype: object

In [57]:
pd.unique([k.replace('_COUNT', '').replace('_FIRST_EXPDT', '').replace('_LAST_EXPDT', '') for k in df.filter(regex='^MHTERM').keys()])

array(['MHTERM_ASTHMA', 'MHTERM_BIPOLAR_DISORDER', 'MHTERM_CHLAMYDIA',
       'MHTERM_DEPRESSION', 'MHTERM_DIABETES', 'MHTERM_GBS_POSITIVE',
       'MHTERM_GESTATIONAL_DIABETES', 'MHTERM_GESTATIONAL_HYPERTENSION',
       'MHTERM_HYPERTENSION', 'MHTERM_OBESITY', 'MHTERM_OLIGOHYDRAMNIOS',
       'MHTERM_PRE_ECLAMPSIA', 'MHTERM_SMOKER',
       'MHTERM_URINARY_TRACT_INFECTION'], dtype=object)

In [40]:
'|'.join({'a':1, 'b':2}.keys())

'a|b'

In [128]:
df_counts = df.filter(regex="^MHTERM").filter(regex='COUNT$')
df_counts = df_counts.applymap(lambda x: 1 if x>=1 else 0)

In [129]:
tmp = [print ('%s\t%i\t%.2f%%'%(k.replace('MHTERM_', '').replace('_COUNT', ''), v, 100*v/len(df[df['STUDY_CODE'] == 4]))) for k,v in df_counts[df['STUDY_CODE'] == 4].filter(regex="^MHTERM").filter(regex='COUNT$').sum().sort_values(ascending=False)[0:50].items()]

GBS_POSITIVE	96	22.27%
ANEMIA	81	18.79%
ASTHMA	51	11.83%
DEPRESSION	48	11.14%
OBESITY	45	10.44%
GESTATIONAL_DIABETES	42	9.74%
OLIGOHYDRAMNIOS	40	9.28%
URINARY_TRACT_INFECTION	37	8.58%
PRE_ECLAMPSIA	35	8.12%
HYPERTENSION	35	8.12%
CHLAMYDIA	26	6.03%
GESTATIONAL_HYPERTENSION	24	5.57%
SMOKER	14	3.25%
YEAST_INFECTION	12	2.78%
HERPES	12	2.78%
DIABETES	11	2.55%
BIPOLAR_DISORDER	9	2.09%
ANXIETY	9	2.09%
BACTERIAL_VAGINOSIS	6	1.39%
DECREASED_FETAL_MOVEMENT	2	0.46%
PRE_ECLAMPSIA_PRIOR_PREGNANCY	2	0.46%
LARGE_BABY	1	0.23%
FETAL_MACROSOMIA	1	0.23%
SMALL_FOR_GESTATIONAL_AGE	1	0.23%
GESTATIONAL_DIABETES_PREV_PREG	1	0.23%
POST_TERM_PREGNANCY	0	0.00%

In [130]:
tmp = [print ('%s\t%i\t%.2f%%'%(k.replace('MHTERM_', '').replace('_COUNT', ''), v, 100*v/len(df[df['STUDY_CODE'] == 303]))) for k,v in df_counts[df['STUDY_CODE'] == 303].filter(regex="^MHTERM").filter(regex='COUNT$').sum().sort_values(ascending=False)[0:50].items()]
#print ("\n".join(order_004[:50]))

GBS_POSITIVE	191	28.09%
ANEMIA	157	23.09%
OBESITY	138	20.29%
ASTHMA	75	11.03%
URINARY_TRACT_INFECTION	63	9.26%
SMOKER	63	9.26%
CHLAMYDIA	63	9.26%
DEPRESSION	54	7.94%
POST_TERM_PREGNANCY	36	5.29%
ANXIETY	33	4.85%
YEAST_INFECTION	33	4.85%
GESTATIONAL_DIABETES	31	4.56%
HERPES	26	3.82%
HYPERTENSION	24	3.53%
BACTERIAL_VAGINOSIS	24	3.53%
GESTATIONAL_HYPERTENSION	22	3.24%
BIPOLAR_DISORDER	14	2.06%
SMALL_FOR_GESTATIONAL_AGE	12	1.76%
DECREASED_FETAL_MOVEMENT	11	1.62%
DIABETES	10	1.47%
OLIGOHYDRAMNIOS	10	1.47%
PRE_ECLAMPSIA	7	1.03%
FETAL_MACROSOMIA	6	0.88%
LARGE_BABY	1	0.15%
PRE_ECLAMPSIA_PRIOR_PREGNANCY	0	0.00%
GESTATIONAL_DIABETES_PREV_PREG	0	0.00%

In [131]:
tmp = [print ('%s\t%.2f%%'%(k.replace('MHTERM_', '').replace('_COUNT', ''), 100*v/len(df))) for k,v in df_counts.filter(regex="^MHTERM").filter(regex='COUNT$').sum().sort_values(ascending=False)[0:50].items()]

GBS_POSITIVE	25.83%
ANEMIA	21.42%
OBESITY	16.47%
ASTHMA	11.34%
DEPRESSION	9.18%
URINARY_TRACT_INFECTION	9.00%
CHLAMYDIA	8.01%
SMOKER	6.93%
GESTATIONAL_DIABETES	6.57%
HYPERTENSION	5.31%
OLIGOHYDRAMNIOS	4.50%
GESTATIONAL_HYPERTENSION	4.14%
YEAST_INFECTION	4.05%
PRE_ECLAMPSIA	3.78%
ANXIETY	3.78%
HERPES	3.42%
POST_TERM_PREGNANCY	3.24%
BACTERIAL_VAGINOSIS	2.70%
BIPOLAR_DISORDER	2.07%
DIABETES	1.89%
DECREASED_FETAL_MOVEMENT	1.17%
SMALL_FOR_GESTATIONAL_AGE	1.17%
FETAL_MACROSOMIA	0.63%
LARGE_BABY	0.18%
PRE_ECLAMPSIA_PRIOR_PREGNANCY	0.18%
GESTATIONAL_DIABETES_PREV_PREG	0.09%

In [101]:
(df_counts.filter(regex="^MHTERM").filter(regex='COUNT$')>0).sum().sort_values(ascending=False).reset_index()

                                          index    0
0                     MHTERM_GBS_POSITIVE_COUNT  287
1                           MHTERM_ANEMIA_COUNT  238
2                          MHTERM_OBESITY_COUNT  183
3                           MHTERM_ASTHMA_COUNT  126
4                       MHTERM_DEPRESSION_COUNT  102
5          MHTERM_URINARY_TRACT_INFECTION_COUNT  100
6                        MHTERM_CHLAMYDIA_COUNT   89
..                                          ...  ...
19                        MHTERM_DIABETES_COUNT   21
20        MHTERM_DECREASED_FETAL_MOVEMENT_COUNT   13
21       MHTERM_SMALL_FOR_GESTATIONAL_AGE_COUNT   13
22                MHTERM_FETAL_MACROSOMIA_COUNT    7
23                      MHTERM_LARGE_BABY_COUNT    2
24   MHTERM_PRE_ECLAMPSIA_PRIOR_PREGNANCY_COUNT    2
25  MHTERM_GESTATIONAL_DIABETES_PREV_PREG_COUNT    1

[26 rows x 2 columns]

In [105]:
df_MH = df.filter(regex='^MHTERM|USUBJID').filter(regex='COUNT$|USUBJID').set_index(['USUBJID'])
df_CM = df.filter(regex='^CMINDC|USUBJID').filter(regex='COUNT$|USUBJID').rename(columns=lambda x: x.replace('CMINDC_', 'MHTERM_')).set_index(['USUBJID'])

In [106]:
df_MH[df_MH.isnull()] = 0
df_CM[df_CM.isnull()] = 0

In [107]:
cm_keys_add = set(df_MH.keys()) - set(df_CM.keys())

In [108]:
for k in cm_keys_add:df_CM[k] = 0

In [109]:
mh_keys_add = set(df_CM.keys()) - set(df_MH.keys())

In [110]:
(df_MH+df_CM)['MHTERM_CHLAMYDIA_COUNT'].sum()

90.0

In [116]:
df.filter(regex='(?=^((?!COUNT).)*$)').filter(regex='(?=^((?!CMINDC).)*$)')['COMPLETED']

0       True
1       True
2       True
3       True
4       True
5       True
6       True
        ...
1107    True
1108    True
1109    True
1110    True
1111    True
1112    True
1113    True
Name: COMPLETED, Length: 1111, dtype: object

In [117]:
df.filter(regex='DELIVERY')

      DD_DELIVERY_TIME             DELIVERY  MODE_OF_DELIVERY
0                  NaN     2010-12-02T17:35               NaN
1                  NaN     2011-01-12T07:58               NaN
2                  NaN     2011-03-06T13:48               NaN
3                  NaN     2011-04-12T10:47               NaN
4                  NaN     2011-04-22T00:26               NaN
5                  NaN     2011-07-15T20:07               NaN
6                  NaN     2011-10-12T13:21               NaN
...                ...                  ...               ...
1107               NaN  2007-06-08T10:23:00               NaN
1108               NaN  2007-06-28T00:03:00               NaN
1109               NaN  2007-04-20T01:31:00               NaN
1110               NaN  2007-04-20T22:25:00               NaN
1111               NaN  2007-05-03T19:21:00               NaN
1112               NaN  2007-05-16T10:11:00               NaN
1113               NaN  2007-06-26T18:21:00               NaN

[1111 rows x 3 columns]

In [140]:
df_counts=(df_MH+df_CM)

In [143]:
df_counts[df_counts > 0] = 1

In [161]:
list(df_final.keys())

['Unnamed: 0',
 'ACTIVE_LABOUR_TIME',
 'AGE',
 'APGAR_SCORE_1_MINUTE',
 'APGAR_SCORE_5_MINUTE',
 'BIRTH_WEIGHT',
 'BMI',
 'BS_12',
 'BS_18',
 'BS_24',
 'BS_6',
 'BS_BASELINE',
 'COMPLETED',
 'COUNTRY',
 'COUNTRY_dummy_CAN',
 'COUNTRY_dummy_USA',
 'DD_DELIVERY_TIME',
 'DISCHARGE_TIME',
 'EX_END_TIME',
 'EX_START_TIME',
 'GESTATIONAL_AGE_DAYS',
 'HEIGHT',
 'MODE_OF_DELIVERY',
 'OXYTOCIN_ADMINISTERED',
 'OXYTOCIN_ADMINISTRATION_TIME',
 'OXYTOCIN_DOSAGE',
 'PREGTYPE_NULLIPAROUS',
 'PREGTYPE_PAROUS',
 'RACE',
 'RACE_PROCESSED',
 'RACE_RAW',
 'RACE_dummy_ASIAN',
 'RACE_dummy_BLACK_OR_AFRICAN_AMERICAN',
 'RACE_dummy_HISPANIC',
 'RACE_dummy_OTHER',
 'RACE_dummy_WHITE',
 'STUDY_CODE',
 'SUBJID',
 'USUBJID',
 'WEIGHT',
 'MHTERM_ANEMIA_FLAG',
 'MHTERM_ANXIETY_FLAG',
 'MHTERM_ASTHMA_FLAG',
 'MHTERM_BACTERIAL_VAGINOSIS_FLAG',
 'MHTERM_BIPOLAR_DISORDER_FLAG',
 'MHTERM_CHLAMYDIA_FLAG',
 'MHTERM_DECREASED_FETAL_MOVEMENT_FLAG',
 'MHTERM_DEPRESSION_FLAG',
 'MHTERM_DIABETES_FLAG',
 'MHTERM_FETAL_MACROSOMIA_FLAG',
 'MHTERM_GBS_POSITIVE_FLAG',
 'MHTERM_GESTATIONAL_DIABETES_FLAG',
 'MHTERM_GESTATIONAL_DIABETES_PREV_PREG_FLAG',
 'MHTERM_GESTATIONAL_HYPERTENSION_FLAG',
 'MHTERM_HERPES_FLAG',
 'MHTERM_HYPERTENSION_FLAG',
 'MHTERM_LARGE_BABY_FLAG',
 'MHTERM_OBESITY_FLAG',
 'MHTERM_OLIGOHYDRAMNIOS_FLAG',
 'MHTERM_POST_TERM_PREGNANCY_FLAG',
 'MHTERM_PRE_ECLAMPSIA_FLAG',
 'MHTERM_PRE_ECLAMPSIA_PRIOR_PREGNANCY_FLAG',
 'MHTERM_SMALL_FOR_GESTATIONAL_AGE_FLAG',
 'MHTERM_SMOKER_FLAG',
 'MHTERM_URINARY_TRACT_INFECTION_FLAG',
 'MHTERM_YEAST_INFECTION_FLAG',
 'TIME_DELTA_EX_START_OXYTOCIN_ADMIN',
 'TIME_DELTA_EX_START_ONSET_LABOUR',
 'LABEL']

In [179]:
df_final['MODE_OF_DELIVERY'] [df_final['MODE_OF_DELIVERY']=='VAGINAL'] = 0
df_final['MODE_OF_DELIVERY'] [df_final['MODE_OF_DELIVERY']=='CESAREAN SECTION'] = 1

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [182]:
df[df['BS_BASELINE'].isnull()]

,Unnamed: 0,ACTIVE_LABOUR_TIME,AGE,APGAR_SCORE_1_MINUTE,APGAR_SCORE_5_MINUTE,BIRTH_WEIGHT,BMI,BS_12,BS_18,BS_24,BS_6,BS_BASELINE,CMINDC_ANEMIA_COUNT,CMINDC_ANEMIA_FIRST_EXPDT,CMINDC_ANEMIA_LAST_EXPDT,CMINDC_ANXIETY_COUNT,CMINDC_ANXIETY_FIRST_EXPDT,CMINDC_ANXIETY_LAST_EXPDT,CMINDC_ASTHMA_COUNT,CMINDC_ASTHMA_FIRST_EXPDT,...,RACE_dummy_BLACK_OR_AFRICAN_AMERICAN,RACE_dummy_HISPANIC,RACE_dummy_OTHER,RACE_dummy_WHITE,STUDY_CODE,SUBJID,USUBJID,Unnamed: 0.1,Unnamed: 0_x,Unnamed: 0_x.1,Unnamed: 0_x.2,Unnamed: 0_x.3,Unnamed: 0_x.4,Unnamed: 0_y,Unnamed: 0_y.1,Unnamed: 0_y.2,Unnamed: 0_y.3,Unnamed: 0_y.4,WEIGHT,GESTATIONAL_AGE_WEEKS
592,592,2012-02-10T01:43,28.0,9.0,9.0,3640.0,39.000000,8.0,12.0,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,0.0,0.0,0.0,303,NaN,303-27-22761,592.0,592.0,592.0,592.0,NaN,NaN,NaN,592.0,592,592.0,NaN,64.0,38.857143
900,900,2006-07-13T17:30:00,18.0,9.0,9.0,3388.0,38.567493,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,4,1210843.0,004-21-1210843,NaN,220.0,220.0,220.0,168.0,220.0,NaN,220.0,221,220.0,220.0,105.0,39.285714
902,902,2006-07-26T07:56:00,24.0,8.0,9.0,3147.0,26.061679,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,1.0,4,1210852.0,004-21-1210852,NaN,222.0,222.0,222.0,NaN,222.0,NaN,222.0,223,222.0,222.0,78.0,39.428571
909,909,2006-07-25T14:20:00,30.0,9.0,9.0,3402.0,26.446281,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,0.0,0.0,4,2210873.0,004-21-2210873,NaN,229.0,229.0,229.0,172.0,229.0,NaN,229.0,230,229.0,229.0,72.0,39.285714

In [185]:
df_final[df_final['MHTERM_DECREASED_FETAL_MOVEMENT_FLAG']==1]

,Unnamed: 0,ACTIVE_LABOUR_TIME,AGE,APGAR_SCORE_1_MINUTE,APGAR_SCORE_5_MINUTE,BIRTH_WEIGHT,BMI,BS_12,BS_18,BS_24,BS_6,BS_BASELINE,COMPLETED,COUNTRY,COUNTRY_dummy_CAN,COUNTRY_dummy_USA,DD_DELIVERY_TIME,DISCHARGE_TIME,EX_END_TIME,EX_START_TIME,...,MHTERM_FETAL_MACROSOMIA_FLAG,MHTERM_GBS_POSITIVE_FLAG,MHTERM_GESTATIONAL_DIABETES_FLAG,MHTERM_GESTATIONAL_DIABETES_PREV_PREG_FLAG,MHTERM_GESTATIONAL_HYPERTENSION_FLAG,MHTERM_HERPES_FLAG,MHTERM_HYPERTENSION_FLAG,MHTERM_LARGE_BABY_FLAG,MHTERM_OBESITY_FLAG,MHTERM_OLIGOHYDRAMNIOS_FLAG,MHTERM_POST_TERM_PREGNANCY_FLAG,MHTERM_PRE_ECLAMPSIA_FLAG,MHTERM_PRE_ECLAMPSIA_PRIOR_PREGNANCY_FLAG,MHTERM_SMALL_FOR_GESTATIONAL_AGE_FLAG,MHTERM_SMOKER_FLAG,MHTERM_URINARY_TRACT_INFECTION_FLAG,MHTERM_YEAST_INFECTION_FLAG,TIME_DELTA_EX_START_OXYTOCIN_ADMIN,TIME_DELTA_EX_START_ONSET_LABOUR,LABEL
85,85,2011-01-17T23:11,23.0,8.0,9.0,2800.0,33.000000,11.0,NaN,NaN,6.0,1.0,True,USA,0.0,1.0,2011-01-18T03:51,2011-01-18T06:15,2011-01-17T22:36,2011-01-17T12:15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.600000,10.933333,1
97,97,2011-04-13T23:47,33.0,9.0,9.0,3340.0,38.000000,2.0,4.0,3.0,2.0,1.0,True,USA,0.0,1.0,2011-04-14T09:01,2011-04-14T10:45,2011-04-13T19:21,2011-04-12T18:57,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,38.066667,28.833333,0
99,99,2011-06-05T21:48,27.0,8.0,9.0,2152.0,23.000000,7.0,NaN,NaN,0.0,0.0,True,USA,0.0,1.0,2011-06-05T22:21,2011-06-06T06:10,2011-06-05T22:01,2011-06-05T10:02,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.316667,11.766667,1
223,223,NaN,29.0,8.0,9.0,4360.0,41.000000,5.0,6.0,8.0,5.0,1.0,True,USA,0.0,1.0,2011-08-17T06:29,2011-08-17T09:35,2011-08-16T14:55,2011-08-15T15:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39.483333,NaN,0
443,443,2011-05-20T04:18,18.0,9.0,9.0,4140.0,27.000000,8.0,10.0,12.0,4.0,1.0,True,USA,0.0,1.0,2011-05-20T18:01,2011-05-20T21:07,2011-05-20T04:18,2011-05-19T16:34,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.450000,11.733333,1
457,457,2011-07-07T09:50,27.0,8.0,9.0,3060.0,31.000000,6.0,10.0,11.0,3.0,4.0,True,USA,0.0,1.0,2011-07-07T21:03,2011-07-07T23:24,2011-07-07T02:09,2011-07-06T20:52,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,24.183333,12.966667,1
466,466,2011-11-11T19:40,31.0,9.0,9.0,3705.0,28.000000,10.0,NaN,NaN,2.0,1.0,True,USA,0.0,1.0,2011-11-12T02:19,2011-11-12T04:22,2011-11-11T19:41,2011-11-11T14:23,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,11.933333,5.283333,1
473,473,2011-08-11T05:00,41.0,8.0,9.0,3250.0,41.000000,12.0,NaN,NaN,7.0,3.0,True,USA,0.0,1.0,2011-08-11T10:58,2011-08-11T16:00,2011-08-11T05:00,2011-08-10T18:05,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16.883333,10.916667,1
475,475,2011-08-27T19:30,35.0,6.0,9.0,1980.0,34.000000,7.0,6.0,8.0,3.0,3.0,True,USA,0.0,1.0,2011-08-28T00:21,2011-08-28T04:10,2011-08-27T02:20,2011-08-26T02:10,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,46.183333,41.333333,0
515,515,2011-09-10T06:18,31.0,8.0,9.0,3790.0,28.000000,7.0,9.0,11.0,5.0,1.0,True,USA,0.0,1.0,2011-09-10T21:58,2011-09-11T00:45,2011-09-10T06:18,2011-09-09T19:45,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,26.216667,10.550000,1
645,645,2011-06-03T16:50,20.0,8.0,9.0,2594.0,32.000000,4.0,7.0,11.0,4.0,3.0,True,USA,0.0,1.0,2011-06-04T03:22,2011-06-04T05:20,2011-06-02T23:08,2011-06-02T16:50,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,34.533333,24.000000,1
809,812,2006-12-11T03:50:00,20.0,9.0,9.0,2551.0,37.860082,NaN,NaN,NaN,NaN,2.0,True,USA,0.0,1.0,2006-12-11T04:33:00,2006-12-11T07:00:00,2006-12-10T20:20:00,2006-12-10T18:52:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,8.966667,1
948,951,2006-11-09T11:46:00,29.0,8.0,9.0,3900.0,33.984375,NaN,NaN,NaN,NaN,3.0,True,USA,0.0,1.0,2006-11-09T14:10:00,2006-11-09T17:00:00,2006-11-09T13:48:00,2006-11-09T03:35:00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,8.183333,1

In [207]:
print(df_final[~df_final['BS_BASELINE'].isnull()].groupby(['LABEL', 'PREGTYPE_PAROUS']).size())

LABEL  PREGTYPE_PAROUS
0      0.0                434
       1.0                107
1      0.0                283
       1.0                283
dtype: int64

In [226]:
events = (df_final.filter(regex="^MHTERM").filter(regex='FLAG$')>0).sum().sort_values(ascending=False).reset_index()
events['prev'] = (events[0]/len(df_final)).apply(lambda x: '%.2f%%'%(x*100))
events['index'] = events['index'].str.replace('MHTERM_', '').str.replace('_FLAG', '').str.replace('_', ' ')
print(events.to_string(index=False, columns=['prev']))

prev
25.83%
21.60%
16.47%
11.34%
 9.18%
 9.00%
 8.01%
 7.29%
 6.93%
 6.03%
 4.50%
 4.23%
 4.14%
 4.05%
 3.87%
 3.42%
 3.24%
 2.70%
 2.52%
 2.07%
 1.17%
 1.17%
 0.63%
 0.18%
 0.18%
 0.09%
 0.09%

In [235]:
(df_final.filter(regex='^CM')>0).any()

CMTRT_ACARBOSE_FLAG                  True
CMTRT_ACYCLOVIR_FLAG                 True
CMTRT_ADVAIR_FLAG                    True
CMTRT_ALBUTEROL_FLAG                 True
CMTRT_ALBUTEROL_INHALER_FLAG         True
CMTRT_ALDOMET_FLAG                   True
CMTRT_ALTASE_FLAG                    True
                                     ...
CMTRT_SYMBICORT_FLAG                 True
CMTRT_TANDEM_FLAG                    True
CMTRT_TYLENOL_EXTRA-STRENGTH_FLAG    True
CMTRT_VALTREX_FLAG                   True
CMTRT_WELBUTRIN_FLAG                 True
CMTRT_XANAX_FLAG                     True
CMTRT_ZOLOFT_FLAG                    True
Length: 68, dtype: bool