In [160]:
import pandas as pd
import set_lib_paths
import numpy as np
import seaborn as sns
import copy
sns.set()
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
pd.options.display.max_rows = 15
pd.options.display.max_columns = 40
case_study_codes = ['303', '004']
merged_file = 'F:/Projects/Ferring/data/pre_modelling/merged_data/MERGED_COUNT_DATE.csv'
merged_file_final = 'F:/Projects/Ferring/data/pre_modelling/merged_data/PROCESSED_FLATFILE.csv'
df_final = pd.read_csv(merged_file_final)
df = pd.read_csv(merged_file)
#Remove patients that did not complete study...a2
df = df[df['COMPLETED'] & ~df['COMPLETED'].isnull()]
df['GESTATIONAL_AGE_WEEKS'] = df['GESTATIONAL_AGE_DAYS']/7
print (len(df['USUBJID']))

1111

In [135]:
print (len(df_final))

1111

In [22]:
df[df['USUBJID'] == '303-09-10921']['EX_START_TIME']

4    2010-11-23T17:02
5    2010-11-23T17:02
6    2010-11-23T17:02
7    2010-11-23T17:02
Name: EX_START_TIME, dtype: object

In [57]:
pd.unique([k.replace('_COUNT', '').replace('_FIRST_EXPDT', '').replace('_LAST_EXPDT', '') for k in df.filter(regex='^MHTERM').keys()])

array(['MHTERM_ASTHMA', 'MHTERM_BIPOLAR_DISORDER', 'MHTERM_CHLAMYDIA',
       'MHTERM_DEPRESSION', 'MHTERM_DIABETES', 'MHTERM_GBS_POSITIVE',
       'MHTERM_GESTATIONAL_DIABETES', 'MHTERM_GESTATIONAL_HYPERTENSION',
       'MHTERM_HYPERTENSION', 'MHTERM_OBESITY', 'MHTERM_OLIGOHYDRAMNIOS',
       'MHTERM_PRE_ECLAMPSIA', 'MHTERM_SMOKER',
       'MHTERM_URINARY_TRACT_INFECTION'], dtype=object)

In [40]:
'|'.join({'a':1, 'b':2}.keys())

'a|b'

In [128]:
df_counts = df.filter(regex="^MHTERM").filter(regex='COUNT$')
df_counts = df_counts.applymap(lambda x: 1 if x>=1 else 0)

In [129]:
tmp = [print ('%s\t%i\t%.2f%%'%(k.replace('MHTERM_', '').replace('_COUNT', ''), v, 100*v/len(df[df['STUDY_CODE'] == 4]))) for k,v in df_counts[df['STUDY_CODE'] == 4].filter(regex="^MHTERM").filter(regex='COUNT$').sum().sort_values(ascending=False)[0:50].items()]

GBS_POSITIVE	96	22.27%
ANEMIA	81	18.79%
ASTHMA	51	11.83%
DEPRESSION	48	11.14%
OBESITY	45	10.44%
GESTATIONAL_DIABETES	42	9.74%
OLIGOHYDRAMNIOS	40	9.28%
URINARY_TRACT_INFECTION	37	8.58%
PRE_ECLAMPSIA	35	8.12%
HYPERTENSION	35	8.12%
CHLAMYDIA	26	6.03%
GESTATIONAL_HYPERTENSION	24	5.57%
SMOKER	14	3.25%
YEAST_INFECTION	12	2.78%
HERPES	12	2.78%
DIABETES	11	2.55%
BIPOLAR_DISORDER	9	2.09%
ANXIETY	9	2.09%
BACTERIAL_VAGINOSIS	6	1.39%
DECREASED_FETAL_MOVEMENT	2	0.46%
PRE_ECLAMPSIA_PRIOR_PREGNANCY	2	0.46%
LARGE_BABY	1	0.23%
FETAL_MACROSOMIA	1	0.23%
SMALL_FOR_GESTATIONAL_AGE	1	0.23%
GESTATIONAL_DIABETES_PREV_PREG	1	0.23%
POST_TERM_PREGNANCY	0	0.00%

In [130]:
tmp = [print ('%s\t%i\t%.2f%%'%(k.replace('MHTERM_', '').replace('_COUNT', ''), v, 100*v/len(df[df['STUDY_CODE'] == 303]))) for k,v in df_counts[df['STUDY_CODE'] == 303].filter(regex="^MHTERM").filter(regex='COUNT$').sum().sort_values(ascending=False)[0:50].items()]
#print ("\n".join(order_004[:50]))

GBS_POSITIVE	191	28.09%
ANEMIA	157	23.09%
OBESITY	138	20.29%
ASTHMA	75	11.03%
URINARY_TRACT_INFECTION	63	9.26%
SMOKER	63	9.26%
CHLAMYDIA	63	9.26%
DEPRESSION	54	7.94%
POST_TERM_PREGNANCY	36	5.29%
ANXIETY	33	4.85%
YEAST_INFECTION	33	4.85%
GESTATIONAL_DIABETES	31	4.56%
HERPES	26	3.82%
HYPERTENSION	24	3.53%
BACTERIAL_VAGINOSIS	24	3.53%
GESTATIONAL_HYPERTENSION	22	3.24%
BIPOLAR_DISORDER	14	2.06%
SMALL_FOR_GESTATIONAL_AGE	12	1.76%
DECREASED_FETAL_MOVEMENT	11	1.62%
DIABETES	10	1.47%
OLIGOHYDRAMNIOS	10	1.47%
PRE_ECLAMPSIA	7	1.03%
FETAL_MACROSOMIA	6	0.88%
LARGE_BABY	1	0.15%
PRE_ECLAMPSIA_PRIOR_PREGNANCY	0	0.00%
GESTATIONAL_DIABETES_PREV_PREG	0	0.00%

In [131]:
tmp = [print ('%s\t%.2f%%'%(k.replace('MHTERM_', '').replace('_COUNT', ''), 100*v/len(df))) for k,v in df_counts.filter(regex="^MHTERM").filter(regex='COUNT$').sum().sort_values(ascending=False)[0:50].items()]

GBS_POSITIVE	25.83%
ANEMIA	21.42%
OBESITY	16.47%
ASTHMA	11.34%
DEPRESSION	9.18%
URINARY_TRACT_INFECTION	9.00%
CHLAMYDIA	8.01%
SMOKER	6.93%
GESTATIONAL_DIABETES	6.57%
HYPERTENSION	5.31%
OLIGOHYDRAMNIOS	4.50%
GESTATIONAL_HYPERTENSION	4.14%
YEAST_INFECTION	4.05%
PRE_ECLAMPSIA	3.78%
ANXIETY	3.78%
HERPES	3.42%
POST_TERM_PREGNANCY	3.24%
BACTERIAL_VAGINOSIS	2.70%
BIPOLAR_DISORDER	2.07%
DIABETES	1.89%
DECREASED_FETAL_MOVEMENT	1.17%
SMALL_FOR_GESTATIONAL_AGE	1.17%
FETAL_MACROSOMIA	0.63%
LARGE_BABY	0.18%
PRE_ECLAMPSIA_PRIOR_PREGNANCY	0.18%
GESTATIONAL_DIABETES_PREV_PREG	0.09%

In [101]:
(df_counts.filter(regex="^MHTERM").filter(regex='COUNT$')>0).sum().sort_values(ascending=False).reset_index()

                                          index    0
0                     MHTERM_GBS_POSITIVE_COUNT  287
1                           MHTERM_ANEMIA_COUNT  238
2                          MHTERM_OBESITY_COUNT  183
3                           MHTERM_ASTHMA_COUNT  126
4                       MHTERM_DEPRESSION_COUNT  102
5          MHTERM_URINARY_TRACT_INFECTION_COUNT  100
6                        MHTERM_CHLAMYDIA_COUNT   89
..                                          ...  ...
19                        MHTERM_DIABETES_COUNT   21
20        MHTERM_DECREASED_FETAL_MOVEMENT_COUNT   13
21       MHTERM_SMALL_FOR_GESTATIONAL_AGE_COUNT   13
22                MHTERM_FETAL_MACROSOMIA_COUNT    7
23                      MHTERM_LARGE_BABY_COUNT    2
24   MHTERM_PRE_ECLAMPSIA_PRIOR_PREGNANCY_COUNT    2
25  MHTERM_GESTATIONAL_DIABETES_PREV_PREG_COUNT    1

[26 rows x 2 columns]

In [105]:
df_MH = df.filter(regex='^MHTERM|USUBJID').filter(regex='COUNT$|USUBJID').set_index(['USUBJID'])
df_CM = df.filter(regex='^CMINDC|USUBJID').filter(regex='COUNT$|USUBJID').rename(columns=lambda x: x.replace('CMINDC_', 'MHTERM_')).set_index(['USUBJID'])

In [106]:
df_MH[df_MH.isnull()] = 0
df_CM[df_CM.isnull()] = 0

In [107]:
cm_keys_add = set(df_MH.keys()) - set(df_CM.keys())

In [108]:
for k in cm_keys_add:df_CM[k] = 0

In [109]:
mh_keys_add = set(df_CM.keys()) - set(df_MH.keys())

In [110]:
(df_MH+df_CM)['MHTERM_CHLAMYDIA_COUNT'].sum()

90.0

In [116]:
df.filter(regex='(?=^((?!COUNT).)*$)').filter(regex='(?=^((?!CMINDC).)*$)')['COMPLETED']

0       True
1       True
2       True
3       True
4       True
5       True
6       True
        ...
1107    True
1108    True
1109    True
1110    True
1111    True
1112    True
1113    True
Name: COMPLETED, Length: 1111, dtype: object

In [117]:
df.filter(regex='DELIVERY')

      DD_DELIVERY_TIME             DELIVERY  MODE_OF_DELIVERY
0                  NaN     2010-12-02T17:35               NaN
1                  NaN     2011-01-12T07:58               NaN
2                  NaN     2011-03-06T13:48               NaN
3                  NaN     2011-04-12T10:47               NaN
4                  NaN     2011-04-22T00:26               NaN
5                  NaN     2011-07-15T20:07               NaN
6                  NaN     2011-10-12T13:21               NaN
...                ...                  ...               ...
1107               NaN  2007-06-08T10:23:00               NaN
1108               NaN  2007-06-28T00:03:00               NaN
1109               NaN  2007-04-20T01:31:00               NaN
1110               NaN  2007-04-20T22:25:00               NaN
1111               NaN  2007-05-03T19:21:00               NaN
1112               NaN  2007-05-16T10:11:00               NaN
1113               NaN  2007-06-26T18:21:00               NaN

[1111 rows x 3 columns]

In [140]:
df_counts=(df_MH+df_CM)

In [143]:
df_counts[df_counts > 0] = 1

In [161]:
list(df_final.keys())

['Unnamed: 0',
 'ACTIVE_LABOUR_TIME',
 'AGE',
 'APGAR_SCORE_1_MINUTE',
 'APGAR_SCORE_5_MINUTE',
 'BIRTH_WEIGHT',
 'BMI',
 'BS_12',
 'BS_18',
 'BS_24',
 'BS_6',
 'BS_BASELINE',
 'COMPLETED',
 'COUNTRY',
 'COUNTRY_dummy_CAN',
 'COUNTRY_dummy_USA',
 'DD_DELIVERY_TIME',
 'DISCHARGE_TIME',
 'EX_END_TIME',
 'EX_START_TIME',
 'GESTATIONAL_AGE_DAYS',
 'HEIGHT',
 'MODE_OF_DELIVERY',
 'OXYTOCIN_ADMINISTERED',
 'OXYTOCIN_ADMINISTRATION_TIME',
 'OXYTOCIN_DOSAGE',
 'PREGTYPE_NULLIPAROUS',
 'PREGTYPE_PAROUS',
 'RACE',
 'RACE_PROCESSED',
 'RACE_RAW',
 'RACE_dummy_ASIAN',
 'RACE_dummy_BLACK_OR_AFRICAN_AMERICAN',
 'RACE_dummy_HISPANIC',
 'RACE_dummy_OTHER',
 'RACE_dummy_WHITE',
 'STUDY_CODE',
 'SUBJID',
 'USUBJID',
 'WEIGHT',
 'MHTERM_ANEMIA_FLAG',
 'MHTERM_ANXIETY_FLAG',
 'MHTERM_ASTHMA_FLAG',
 'MHTERM_BACTERIAL_VAGINOSIS_FLAG',
 'MHTERM_BIPOLAR_DISORDER_FLAG',
 'MHTERM_CHLAMYDIA_FLAG',
 'MHTERM_DECREASED_FETAL_MOVEMENT_FLAG',
 'MHTERM_DEPRESSION_FLAG',
 'MHTERM_DIABETES_FLAG',
 'MHTERM_FETAL_MACROSOMIA_FLAG',
 'MHTERM_GBS_POSITIVE_FLAG',
 'MHTERM_GESTATIONAL_DIABETES_FLAG',
 'MHTERM_GESTATIONAL_DIABETES_PREV_PREG_FLAG',
 'MHTERM_GESTATIONAL_HYPERTENSION_FLAG',
 'MHTERM_HERPES_FLAG',
 'MHTERM_HYPERTENSION_FLAG',
 'MHTERM_LARGE_BABY_FLAG',
 'MHTERM_OBESITY_FLAG',
 'MHTERM_OLIGOHYDRAMNIOS_FLAG',
 'MHTERM_POST_TERM_PREGNANCY_FLAG',
 'MHTERM_PRE_ECLAMPSIA_FLAG',
 'MHTERM_PRE_ECLAMPSIA_PRIOR_PREGNANCY_FLAG',
 'MHTERM_SMALL_FOR_GESTATIONAL_AGE_FLAG',
 'MHTERM_SMOKER_FLAG',
 'MHTERM_URINARY_TRACT_INFECTION_FLAG',
 'MHTERM_YEAST_INFECTION_FLAG',
 'TIME_DELTA_EX_START_OXYTOCIN_ADMIN',
 'TIME_DELTA_EX_START_ONSET_LABOUR',
 'LABEL']

True