In [60]:
import pandas as pd
import set_lib_paths
import numpy as np
import seaborn as sns
import copy
sns.set()
import matplotlib.pyplot as plt
import matplotlib.ticker as ticker
pd.options.display.max_rows = 15
pd.options.display.max_columns = 40
case_study_codes = ['303', '004']
merged_file = 'F:/Projects/Ferring/data/pre_modelling/merged_data/MERGED_COUNT_DATE.csv'
df = pd.read_csv(merged_file)
#Remove patients that did not complete study...a2
df = df[df['COMPLETED'] & ~df['COMPLETED'].isnull()]
df['GESTATIONAL_AGE_WEEKS'] = df['GESTATIONAL_AGE_DAYS']/7
print (len(df))

4443

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (3,4,6,7,9,10,12,13,15,16,18,19,21,22,24,25,27,28,40,41,43,44,46,47,49,50,52,53,55,56,58,59,61,63,64,65,67,68,70,71,73,74,76,77,79,80,82,83,85,86,88,89,91,92,94,95,97,98,100,101,103,104,106,107,109,110,115,116,118,119,121,122,124,125,127,128,130,131,133,134,136,137,139,140,142,143,145,146,148,149,151,152,154,155,157,158,160,161,163,164,166,167,169,170,172,173,175,176,178,179,181,182,184,185,187,188,190,191,193,194,196,197,199,200,202,203,205,206,208,209,211,212,214,215,217,218,220,221,223,224,226,227,232,233,235,236,238,239,241,242,244,245,247,248,250,251,253,254,256,257,259,260,262,263,265,266,268,269,271,272,274,275,277,278,280,282,283,284,286,287,289,290,292,293,295,296,298,299,301,302,304,305,307,308,310,311,313,314,316,317,319,320,322,323,325,326,328,329,331,332,334,335,337,338,340,341,343,344,346,347,349,350,352,353,355,356,358,359,361,362,364,365,367,368,370,371,373,374,376,377,379,380,382,383,385,386,388,389,391,392,394,395,397,398,400,401,403,404,406,407,409,410,413,414,415,416,418,419,421,422,424,425,427,428,430,431,433,434,436,437,439,440,442,443,445,446,448,449,451,452,454,455,457,458,460,461,463,464,466,467,472,473,475,476,478,479,481,482,484,485,487,488,491,492,493,494,496,497,499,500,502,503,505,506,511,512,514,515,517,518,520,521,523,524,526,527,529,530,532,533,535,536,538,539,541,542,544,545,547,548,550,551,553,554,555,588) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [19]:
df.filter(regex='^AETERM_|USUBJID')

,AETERM_BURNING_SENSATION_IN_VAGINA_COUNT,AETERM_CAPUT_SUCEEDANEUM_COUNT,AETERM_CONGENITAL_ANOMALY_(PYELECTASIS)_COUNT,AETERM_CONGENITAL_ANOMALY_(PYELECTASIS)_FIRST_EXPDT,AETERM_CONGENITAL_ANOMALY_(PYELECTASIS)_LAST_EXPDT,AETERM_FETAL_MALPRESENTATION_COUNT,AETERM_FETAL_MALPRESENTATION_FIRST_EXPDT,AETERM_FETAL_MALPRESENTATION_LAST_EXPDT,"AETERM_HYPERBILIRUBINEMIA,_INCLUDING_JAUNDICE_COUNT","AETERM_HYPERBILIRUBINEMIA,_INCLUDING_JAUNDICE_FIRST_EXPDT","AETERM_HYPERBILIRUBINEMIA,_INCLUDING_JAUNDICE_LAST_EXPDT",AETERM_HYPERTENSION_COUNT,AETERM_NUCHAL_CORD_COUNT,AETERM_NUCHAL_CORD_FIRST_EXPDT,AETERM_NUCHAL_CORD_LAST_EXPDT,AETERM_PREECLAMPSIA/__WORSENING_PREECLAMPSIA_COUNT,AETERM_PREECLAMPSIA/__WORSENING_PREECLAMPSIA_FIRST_EXPDT,AETERM_PREECLAMPSIA/__WORSENING_PREECLAMPSIA_LAST_EXPDT,AETERM_PRURITIS_COUNT,USUBJID
0,NaN,NaN,1.0,2011-03-29 00:00:00,2011-03-29 00:00:00,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,303-03-10328
1,NaN,NaN,1.0,2011-03-29 00:00:00,2011-03-29 00:00:00,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,303-03-10328
2,NaN,NaN,1.0,2011-03-29 00:00:00,2011-03-29 00:00:00,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,303-03-10328
3,NaN,NaN,1.0,2011-03-29 00:00:00,2011-03-29 00:00:00,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,303-03-10328
4,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,1.0,2010-11-23 00:00:00,2010-11-23 00:00:00,NaN,303-09-10921
5,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,1.0,2010-11-23 00:00:00,2010-11-23 00:00:00,NaN,303-09-10921
6,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,1.0,2010-11-23 00:00:00,2010-11-23 00:00:00,NaN,303-09-10921
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4442,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,004-60-1602489
4443,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,004-60-1602489
4444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,004-60-1602489
4445,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,004-64-1642584
4446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,004-64-1642584
4447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,004-64-1642584
4448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,004-64-1642584

In [22]:
df[df['USUBJID'] == '303-09-10921']['EX_START_TIME']

4    2010-11-23T17:02
5    2010-11-23T17:02
6    2010-11-23T17:02
7    2010-11-23T17:02
Name: EX_START_TIME, dtype: object

In [57]:
pd.unique([k.replace('_COUNT', '').replace('_FIRST_EXPDT', '').replace('_LAST_EXPDT', '') for k in df.filter(regex='^MHTERM').keys()])

array(['MHTERM_ASTHMA', 'MHTERM_BIPOLAR_DISORDER', 'MHTERM_CHLAMYDIA',
       'MHTERM_DEPRESSION', 'MHTERM_DIABETES', 'MHTERM_GBS_POSITIVE',
       'MHTERM_GESTATIONAL_DIABETES', 'MHTERM_GESTATIONAL_HYPERTENSION',
       'MHTERM_HYPERTENSION', 'MHTERM_OBESITY', 'MHTERM_OLIGOHYDRAMNIOS',
       'MHTERM_PRE_ECLAMPSIA', 'MHTERM_SMOKER',
       'MHTERM_URINARY_TRACT_INFECTION'], dtype=object)

In [40]:
'|'.join({'a':1, 'b':2}.keys())

'a|b'

In [70]:
df_counts = df.filter(regex="^MHTERM").filter(regex='COUNT$')
df_counts = df_counts.applymap(lambda x: 1 if x>=1 else 0)

In [71]:
order_004 = [k.replace('MHTERM_', '').replace('COUNT', '').replace('_', ' ') for k,v in df_counts[df['STUDY_CODE'] == 4].filter(regex="^MHTERM").filter(regex='COUNT$').sum().sort_values(ascending=False).items()]
tmp = [print ('%.2f%%'%(100*v/len(df[df['STUDY_CODE'] == 4]))) for k,v in df_counts[df['STUDY_CODE'] == 4].filter(regex="^MHTERM").filter(regex='COUNT$').sum().sort_values(ascending=False)[0:50].items()]
print ("\n".join(order_004[:50]))

22.27%
11.83%
11.14%
10.44%
9.98%
9.28%
8.58%
8.35%
8.12%
6.03%
5.57%
3.02%
2.55%
2.09%
GBS POSITIVE
ASTHMA
DEPRESSION
OBESITY
GESTATIONAL DIABETES
OLIGOHYDRAMNIOS
URINARY TRACT INFECTION
PRE ECLAMPSIA
HYPERTENSION
CHLAMYDIA
GESTATIONAL HYPERTENSION
SMOKER
DIABETES
BIPOLAR DISORDER